.App{
  text-align: center;
  margin-top: 20%;
  font-size: 35px;
}

.App-title{
  font-size: 50px;
}

.Clock-days,.Clock-hours,.Clock-minutes,.Clock-seconds{
  display: inline;
  margin: 10px;
}

.deadLine-input{
  font-size: 25px;
  margin: 5px;
}
